extends ./layout.jade

block advanced_js	
	script(src='/ckeditor/ckeditor.js')

block body
	div.content-wrapper
		div#title-wrapper
			h3="Create new blog"
		div#editor-wrapper
			textarea#editor1(name='editor1', rows='10', cols='80')
			br
			<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
			button#submit.btn.btn-primary(type="button")="Create"
				
			script(type="text/javascript").
				// Replace the <textarea id="editor1"> with a CKEditor
				// instance, using default configuration.
				CKEDITOR.replace( 'editor1' );

				$(document).ready(function(){
					$('#submit').click(function(){
						$.ajax({
							url: '/blog',
							type: 'PUT',
							data:  {'blog': CKEDITOR.instances.editor1.getData()}
						});
					});
				});