extends ./layout.jade

block css
	link(href='css/blog.css', rel='stylesheet')

block body
	div.content-wrapper
		div#message
			p="Sorry, but I still working on it!"
			p="Check my old blog if you need: "
				a.contact-link(target="_blank", href="http://cyfloel0516.sinaapp.com/")="OLD BLOG"