#introduction{
	font-size:22px;
	color:#555;
	margin-top:25px;
	margin-bottom:40px;
}

.content-section{
	margin-bottom:24px;
}

.record{
	margin-bottom:36px;
}

.section-title{
	color: #888;
	font-weight: 600;
}

.record-title{

}

.record-name{
	font-size:24px;
	color:#337ab7;
	line-height:24px;
	vertical-align: middle;
}

.record-time{
	margin-right:26px;
	color: #888;
		font-weight: 600;
}

.record-note{
	color: #333;
	font-size:16px;
	margin-bottom:12px;
	margin-left:1px;
}

.record-text{
	color: #333;
}

.contact-link{
	margin-right:28px;
}