#main-wrapper{
	background: url(../images/background.png) no-repeat center center fixed; 
    background-size: cover;
}

#contact-info-wrapper{
	text-align:center;
	width:100%;
	padding:0;
	margin:auto;
	padding-top:200px;
}

#contact-me-wrapper{
	margin-top:30px;
}

.contact-me{
	width:48px; 
	height:48px; 
	border-radius:10px;
	display:inline-block;
	position:relative;
	margin-right:10px;
}

.contact-me a{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.contact-me-facebook{
	background-image:url(../images/facebook_48.png); 
}
.contact-me-linkedin{
	background-image:url(../images/linkedin_48.png); 
}

.contact-me-github{
	background-image:url(../images/github_48.png); 
}

.contact-me-gmail{
	background-image:url(../images/gmail_48.png); 
}

#more-info-wrapper{
	text-align:center;
	width:100%;
	margin-top:150px;
	padding-bottom:16px;
}

#more-info-wrapper .glyphicon{
	color:white;
	font-size:30px;
}

#my-name{
	color:white;
	font-size:60px;
	margin-bottom:0;
	padding-left:15px;
}

#my-introduction{
	color:#ccc;
	font-size:14px;
}

.part-wrapper{
	padding-top:50px;
	padding-bottom:50px;
}
.part-content{
	max-width:1160px;
	margin:auto;
}

.part-title{
	text-align: center;
	font-size:34px;
}

.part-text{
	font-size:18px;
}

.part-learn-more{
	margin-top:16px;
	text-align: center;
}
.part-learn-more .btn{
	border-radius: 0;
}

.part-gray{
	background-color:#EEE;
}

#aboutme-wrapper{
	text-align:center;
	width:100%;

}

#aboutme-wrapper .part-text{
	max-width:700px;
	margin:auto;
	text-align: center;
}

#portofolio-container{
	padding-top:15px;
}