#top-nav{
	border:none;
	margin-bottom:0;
	background: url(../images/background.png) no-repeat center center fixed;
	background-size:cover;
}

#top-nav .active a{
	background:none;
}

#top-nav{
	border-radius: 0;
}
#top-nav > .container-fluid{

	max-width:1160px;
	margin:0 auto;
}

#body-wrapper{
	margin:0 auto;
	position:relative;
}

#top-nav .navbar-brand{
	margin-right:10px;
}

#top-nav .navbar-brand{
	font-size:22px;
	color:white;
	padding-left:0;
}

.nav-item .glyphicon{
	margin-right:5px;
}

